.Gif {
  border: 1px solid #eee;
  margin: 10px;
  width: 40%;
  padding: 10px;
  cursor: pointer;
  color: white;
  text-decoration: none;  
}

@media (min-width: 768px) {
  .Gif {
    width: 20%;
  }  
}

.Gif h6 {
  margin: 0;
}

.Gif img {
  width: 100%;
}